body {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
 }
 .form {
         width: 300px; # Ширина 300 пикселей
         padding: 32px; #  Внутренний отступ 10 пикселей
         border-radius: 10px; # Закруглённую рамку или скруглить углы элемента.
         box-shadow: 0 4px 16px #ccc; # Тень элемента. 0 - смещение Х, 4 - смешение Y, 16 - степень размытия, #ccc - цвет.
         font-family: sans-serif; # Шрифт.
         letter-spacing: 1px; # Расстояние между буквами
 }
